<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taflheim</title>
</head>
<link rel="stylesheet" href="/css/game_board.css">
<link rel="stylesheet" href="/css/game_page.css">
<body>
    <%- include('templates/navbar') %>
    
    <div class="opponent-card">
    </div>
    
    <div class="game-container">
        <div id="game-over-reason-card">
            <h1 id="winner-text">What?</h1>
            <h3 id ="win-reason-text">We don't know why the game ended?</h3>
            <div id="game-over-buttons">
                <button type="button" id="back-btn">Go back</button>
                <button type="button" id="hide-btn">Hide</button>
            </div>
        </div>
        <div id="game-board">
        </div>
        
    </div>
    
    <div class="player-card">
        
    </div>
    
    <div class="game-menu">
        <div class=move-history>
            
        </div>
        
        <div class="game-controls">
            <button type="button">Resign</button>
            <button type="history-forward">Forward</button>
            <button type="history-backward">Backward</button>
            
        </div>
        
    </div>
</body>
<script type="module" src="/scripts/game_scripts/GameMain.js"></script>
</html>
