<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn to play</title>
    <link rel="stylesheet" href="/css/universal.css">
</head>
<body>
    <%-include("templates/navbar") %>
    <h1>Learn to Play Tafl</h1>
    <p>Welcome to the Taflheim learning section! Here you can find resources to help you learn how to play Tafl games.</p>
    <h2>Game Rules</h2>
    <p>Learn the rules of Tafl games, including strategies and tactics.</
</body>
</html>
