<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/play_page.css">
    <link rel="stylesheet" href="/css/universal.css">
    <title>Taflheim</title>
</head>
<body>
    <%- include('templates/navbar') %>

    <h1>Play</h1>
    <p>Find games to play here.</p>
    <button type="button" id="create-btn">Create Game</button>
    <button type="button" id="join-btn">Join Game</button>
    <input type="text" id="game-id-input" placeholder="Enter Game ID">
    <!-- Make a settings section with big buttons -->
</body>
<script src="/scripts/page_functionality/PlayPageFunctionality.js" type="module" ></script>
</html>
