<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <img src="/assets/logo.svg" alt="">
        <h1>Taflheim</h1>
    </header>
    <form action="/register", method="post">
        <h2>Enter your Email, Username and Password to create an account</h2>
        <div class="input-container">
            <i class="person-icon"></i>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="input-container">
            <i class="mail-icon"></i>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="input-container">
            <i class="lock-icon"></i>
            <input type="password" name="email" id="password" placeholder="Password">
        </div>
        <button type="submit">Register</button>
        <a href="/login">Back to Login Page</a>
    </form>
</body>
</html>
