<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<header>
    <nav>
        <a href="https://taflheim.io/">
            <img src="/assets/logo.svg" alt="">
        </a>
        <ul>
            <a href="/">Home</a>
            <a href="/play">Play</a>
            <a href="/learn">Learn</a>
            <a href="/about">About</a>
        </ul>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </nav>
</header>
