<header>
    <nav>
        <li>
            <a href="/">Home</a>
            <a href="/play">Play</a>
            <a href="/learn">Learn</a>
            <a href="/about">About</a>
        </li>
    </nav>
</header>